{
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "arrowParens": "always",
        "bracketSpacing": true,
        "endOfLine": "crlf",
        "htmlWhitespaceSensitivity": "css",
        "insertPragma": false,
        "jsxBracketSameLine": false,
        "jsxSingleQuote": false,
        "printWidth": 80,
        "proseWrap": "preserve",
        "quoteProps": "as-needed",
        "requirePragma": false,
        "semi": false,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "none",
        "useTabs": false,
        "vueIndentScriptAndStyle": false,
        "parser": "babel"
      }
    }
  ]
}